<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')  %>

<body class="font-custom bg-gray-900">
  <!-- container start -->
  <div class="md:container md:mx-auto p-10">
    <!-- navbar start -->
    <%- include('../partials/navbar.ejs')  %>
    <!-- navbar end -->
    <div class="mt-4 p-8">
      <form action="/blogs" method="POST">
        <div class="flex flex-col">
          <label for="title" class="text-white text-3xl mb-2">Blog title: </label>
          <input type="text" id="title" name="title" class="bg-gray-300 rounded-lg w-1/2 p-3 hover:bg-white transition duration-150 ease-in-out" required>
          <label for="body" class="text-white text-3xl mb-2 mt-10">Blog body: </label>
          <textarea id="body" name="body" class="bg-gray-200 rounded-lg w-1/2 h-40 p-3 hover:bg-white transition duration-150 ease-in-out" required></textarea>
          <div>
            <button class="bg-gray-300 text-gray-900 hover:bg-gray-700 hover:text-white mt-10 font-bold py-2 px-6 text-xl rounded-lg transition duration-100 ease-in-out">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <%- include('../partials/footer.ejs') %>
</body>

</html>