<div class="bg-gray-700 text-white px-3 py-2 rounded-lg -mt-6 text-sm md:text-lg font-nav">
    <div class="flex items-center justify-between flex-col md:flex-row text-white px-3 py-2">
        <a href="/">
            <div class="flex items-center justify-between text-white px-3 py-2">
                <div>
                    <div>
                        <svg class="fill-current h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg>
                    </div>
                </div>
                <div class="pl-3">Zlog</div>
            </div>
        </a>
        <div class="mt-3 md:mt-0">
            <a href="/" class="hover:bg-gray-800 rounded-lg px-3 py-1">Blogs</a>
            <a href="/about" class="hover:bg-gray-800 rounded-lg px-3 py-1">About</a>
            <a href="/blogs/create" class="hover:bg-gray-800 rounded-lg px-3 py-1">Create</a>
        </div>
    </div>
</div>