<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body class="font-custom bg-gray-900">
    <!-- container start -->
    <div class="md:container md:mx-auto p-10">
        <!-- navbar start -->
        <%- include('./partials/navbar.ejs')  %>
        <!-- navbar end -->
        <div class="mt-4 p-20 text-white text-center text-3xl">
            ¯\_(ツ)_/¯
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>