<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')  %>
    <style>
        .custom-container {
            position: absolute;
            top: 50%;
            left: 50%;
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }
    </style>
</head>

<body class="font-inter custom-container -mt-16 bg-gray-100 md:bg-white">
    <main class="bg-blue-50 p-0 md:px-20 md:py-12 rounded-lg">
        <a href="/" class="flex text-center justify-evenly">
            <div class="flex items-center text-blue-800">
                <svg class="fill-current h-7 w-7" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 10V3L4 14h7v7l9-11h-7z"></path>
                </svg>
                <span class="text-3xl font-bold tracking-wide ml-1">Zlog</span>
            </div>
        </a>
        <p class="text-2xl text-center mt-8 mb-8 text-gray-600">Log in</p>
        <form action="/signup">
            <!-- <label class="block" for="username">
                <span class="text-gray-600 text-sm">Username:</span>
                <input type="text" name="username" class="form-input mt-1 block w-84 appearance-none border-2 border-blue-200 focus:border-blue-600 focus:outline-none rounded p-2 text-gray-600" placeholder="Enter an unique username">
            </label>
            <p class="text-red-600 mt-1 "></p> -->
            <label class="block mt-5" for="email">
                <span class="text-gray-600 text-sm">Email:</span>
                <input type="text" name="email" id="email"
                    class="form-input mt-1 block w-84 appearance-none border-2 border-blue-200 focus:border-blue-600 focus:outline-none rounded p-2 text-gray-500 placeholder-gray-300"
                    placeholder="Enter your email">
            </label>
            <p class="email error text-red-600 mt-1"></p>
            <label class="block mt-5" for="password">
                <span class="text-gray-600 text-sm">Password:</span>
                <input type="password" name="password" id="password"
                    class="form-input mt-1 block w-84 appearance-none border-2 border-blue-200 focus:border-blue-600 focus:outline-none rounded p-2 text-gray-500 placeholder-gray-300"
                    placeholder="Enter password">
            </label>
            <p class="password error text-red-600 mt-1"></p>
            <button
                class="mt-8 border-2 border-blue-200 text-center w-full rounded px-4 py-2 text-blue-600 bg-blue-200 hover:text-blue-700 hover:border-blue-600">
                Log in
            </button>
        </form>
        <p class="text-gray-600 mt-2">Don't have an account? <a href="/signup"
                class="text-blue-500 hover:text-blue-700">Create one here.</a></p>
    </main>
</body>
<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // reset errors
        emailError.textContent = "";
        passwordError.textContent = "";

        // get values
        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({ email, password }),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json()
            console.log(data);
            if (data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            if (data.user) {
                location.assign('/')
            }
        }
        catch (err) {
            console.log(err);
        }
    });  
</script>

</html>